@import "tailwindcss";

@theme {
  --color-brand: #F97316;
  --color-brand-light: #FFEDD5;
  --color-brand-dark: #EA580C;
  --color-title: #0F172A;
  --color-main: #475569;
}

body {
  @apply bg-[#F8FAFC] text-main antialiased;
}