@import "tailwindcss";

@theme {
  --color-main: #F97316;
  --color-main-dark: #EA580C;
  --color-main-light: #FFEDD5;
  --color-title: #0F172A;
  --color-body: #475569;
}

body {
  @apply bg-[#F8FAFC] text-body antialiased;
}